body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 100%;
    font-size: 40px;
    font-family: "標楷體", serif;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    font-size: large;
}

#mandarinButton {
    background-color:lightcyan;
}

#guoyuButton {
    background-color:lightyellow;
}

#cantoneseButton {
    background-color:antiquewhite;
}

#northeasternButton {
    background-color:cornsilk;
}

#singaporeenglishButton {
    background-color:lightcyan;
}

#usenglishButton {
    background-color:lightyellow;
}

#ukenglishButton {
    background-color:antiquewhite;
}

#indiaenglishButton {
    background-color:cornsilk;
}